<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Splitter - Edit Pengeluaran</title>
    <link href="/styles/shared-styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      window.expenseId = "<%= expense.id %>";
    </script>
    <script src="/js/edit.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1>Edit Pengeluaran</h1>
      <div id="errorMessage" style="color: red; display: none"></div>
      <form id="editExpenseForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
          <label for="name">Nama Pengeluaran:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= expense.name %>"
            required
          />
        </div>
        <div>
          <label for="paidBy">Dibayar Oleh:</label>
          <input
            type="text"
            id="paidBy"
            name="paidBy"
            value="<%= expense.paidBy %>"
            required
          />
        </div>
        <div>
          <label for="total">Total Pengeluaran:</label>
          <input
            type="number"
            id="total"
            name="total"
            value="<%= expense.total %>"
            required
          />
        </div>
        <div>
          <label for="participants">Partisipan (pisahkan dengan koma):</label>
          <input
            type="text"
            id="participants"
            name="participants"
            value="<%= expense.participants.join(', ') %>"
            required
          />
        </div>
        <button type="submit" class="btn btn-edit">Perbarui Pengeluaran</button>
      </form>
      <a href="/dashboard/<%= roomId %>" class="btn"
        >Batal dan Kembali ke Dashboard</a
      >
    </div>
  </body>
</html>
